{% extends 'main/base.html' %}

{% block title %}
    {{ field }} Services List
{% endblock %}

{% block content %}
    {% if services %}
        <div class="content">
            <p class="title">{{ field }} Services</p>
            <ul class="services_list">
                {% for service in services %}
                    <li style="margin-bottom: 30px;">
                        <div class="service_list_info">
                            <a href="{% url 'service_detail' service.id %}" style="font-weight: bold; font-size: 1.2em;">
                                {{ service.name }}
                            </a> — 
                            <span>{{ service.price_per_hour }}€/hour</span>
                            <pre>{{ service.description }}</pre>
                        </div>
                        <p style="text-align: right; font-size: small; margin: 5px 0;">
                            by 
                            <a href="{% url 'company_profile' service.company.user.id %}">
                                {{ service.company.user.username }}
                            </a>
                        </p>
                        {% if not forloop.last %}
                            <div class="line"></div>
                        {% endif %}
                    </li>
                {% empty %}
                    <h2>Sorry, no {{ field }} services available.</h2>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="content">
            <h2>Sorry, no {{ field }} services available.</h2>
        </div>
    {% endif %}
{% endblock %}