{% extends 'main/base.html' %}
{% block title %}
    {% if page_title %}{{ page_title }}{% else %}Services List{% endif %}
{% endblock %}
{% block content %}
<div class="content">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <p class="title">{% if page_title %}{{ page_title }}{% else %}All Services{% endif %}</p>

    {% if user.is_company %}
        <a class="create_service" href="{% url 'services:services_create' %}">Create a New Service</a>
    {% endif %}

    <ul class="services_list">
        {% if services %}
            {% for service in services %}
                <li class="service_list_info">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <a href="{% url 'services:service_detail' service.id %}" class="service-link">
                                {{ service.name }}
                            </a>
                            <span style="font-weight: bold; color: #4CAF50;">
                                — {{ service.price_per_hour }}€/hour
                            </span>
                            <pre style="margin-top: 10px;">{{ service.description }}</pre>
                        </div>
                        <p style="text-align: right; margin: 0; font-size: small;">
                            by <a href="{% url 'users:company_profile' service.company.user.id %}">{{ service.company.user.username }}</a>
                        </p>
                    </div>
                    {% if not forloop.last %}
                        <div class="line"></div>
                    {% endif %}
                </li>
            {% empty %}
                <h2 class="title">Sorry, no services available yet.</h2>
            {% endfor %}
        {% else %}
            <h2 class="title">Sorry, no services available yet.</h2>
        {% endif %}
    </ul>
</div>
{% endblock %}